---
import { Image } from "astro:assets";
const { imgSrc, alt } = Astro.props;
---

<div class="logo-item">
  {
    imgSrc.src ? 
    <Image src={imgSrc} alt={alt} inferSize={true} loading="lazy" /> :
    <img src={imgSrc} alt="alt" srcset="" loading="lazy">
  }
</div>
