---
import { Image } from "astro:assets";
const { imgSrc, alt } = Astro.props;
---

<div class="logo-item">
  <img src={imgSrc} alt="alt" srcset="" loading="lazy">
  <!-- <Image 
    src={imgSrc} 
    alt={alt} 
    inferSize={true} 
    loading="lazy" /> -->
</div>
