---
const { img_src, alt } = Astro.props;
import { Image } from "astro:assets";
---

<div class="partners-card flex-card_full">
  {
    img_src.src ? 
      <Image src={img_src} alt={alt} loading="lazy" />  : 
      <img src={img_src} alt={alt} srcset="" loading="lazy">
  }
</div>
