---
const { img_src, full_name, position } = Astro.props;
import { Image } from "astro:assets";
---

<div class="relative group w-[300px]">
  <div
    class="absolute bg-gradient-to-t from-black/90 to-transparent opacity-0 h-full w-[300px] group-hover:opacity-50 duration-500">
  </div>
  <Image
    src={img_src}
    alt="team_member"
    loading="eager"
    class="h-[350px] w-full"
  />
  <div
    class="absolute flex flex-col items-center text-white bottom-0 left-0 right-0 group-hover:bottom-1/4 duration-500 group">
    <span class="text-lg mb">{full_name}</span>
    <span class="text-sm mb-3">{position}</span>
    <div
      class="flex absolute bottom-0 h-9 gap-4 opacity-0 group-hover:opacity-100 group-hover:-bottom-6 group-hover:delay-300 duration-500">
      <a href="/facebook" aria-label="facebook-link" class="self-start">
        <svg
          class="socials"
          viewBox="0 0 25 25"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M22.9167 12.5002C22.9167 6.75016 18.25 2.0835 12.5 2.0835C6.75 2.0835 2.08334 6.75016 2.08334 12.5002C2.08334 17.5418 5.66667 21.7397 10.4167 22.7085V15.6252H8.33334V12.5002H10.4167V9.896C10.4167 7.88558 12.0521 6.25016 14.0625 6.25016H16.6667V9.37516H14.5833C14.0104 9.37516 13.5417 9.84391 13.5417 10.4168V12.5002H16.6667V15.6252H13.5417V22.8647C18.8021 22.3439 22.9167 17.9064 22.9167 12.5002Z"
          ></path>
        </svg>
      </a>
      <a href="/instagram" aria-label="instagram-link" class="self-center">
        <svg
          class="socials"
          viewBox="0 0 25 25"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.12516 2.08325H16.8752C20.2085 2.08325 22.9168 4.79159 22.9168 8.12492V16.8749C22.9168 18.4773 22.2803 20.014 21.1473 21.147C20.0142 22.2801 18.4775 22.9166 16.8752 22.9166H8.12516C4.79183 22.9166 2.0835 20.2083 2.0835 16.8749V8.12492C2.0835 6.52257 2.72003 4.98585 3.85306 3.85282C4.98609 2.71978 6.52281 2.08325 8.12516 2.08325ZM7.91683 4.16659C6.92227 4.16659 5.96844 4.56167 5.26518 5.26494C4.56192 5.9682 4.16683 6.92202 4.16683 7.91659V17.0833C4.16683 19.1562 5.84391 20.8333 7.91683 20.8333H17.0835C18.0781 20.8333 19.0319 20.4382 19.7351 19.7349C20.4384 19.0316 20.8335 18.0778 20.8335 17.0833V7.91659C20.8335 5.84367 19.1564 4.16659 17.0835 4.16659H7.91683ZM17.9689 5.72909C18.3142 5.72909 18.6454 5.86627 18.8896 6.11046C19.1338 6.35464 19.271 6.68583 19.271 7.03117C19.271 7.3765 19.1338 7.70769 18.8896 7.95188C18.6454 8.19607 18.3142 8.33325 17.9689 8.33325C17.6236 8.33325 17.2924 8.19607 17.0482 7.95188C16.804 7.70769 16.6668 7.3765 16.6668 7.03117C16.6668 6.68583 16.804 6.35464 17.0482 6.11046C17.2924 5.86627 17.6236 5.72909 17.9689 5.72909ZM12.5002 7.29159C13.8815 7.29159 15.2063 7.84032 16.183 8.81707C17.1598 9.79382 17.7085 11.1186 17.7085 12.4999C17.7085 13.8813 17.1598 15.206 16.183 16.1828C15.2063 17.1595 13.8815 17.7083 12.5002 17.7083C11.1188 17.7083 9.79407 17.1595 8.81731 16.1828C7.84056 15.206 7.29183 13.8813 7.29183 12.4999C7.29183 11.1186 7.84056 9.79382 8.81731 8.81707C9.79407 7.84032 11.1188 7.29159 12.5002 7.29159ZM12.5002 9.37492C11.6714 9.37492 10.8765 9.70416 10.2905 10.2902C9.7044 10.8763 9.37516 11.6711 9.37516 12.4999C9.37516 13.3287 9.7044 14.1236 10.2905 14.7096C10.8765 15.2957 11.6714 15.6249 12.5002 15.6249C13.329 15.6249 14.1238 15.2957 14.7099 14.7096C15.2959 14.1236 15.6252 13.3287 15.6252 12.4999C15.6252 11.6711 15.2959 10.8763 14.7099 10.2902C14.1238 9.70416 13.329 9.37492 12.5002 9.37492Z"
          ></path>
        </svg>
      </a>
      <a href="/twitter" aria-label="twitter-link" class="self-center">
        <svg
          class="socials"
          viewBox="0 0 25 25"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M22.4854 22.2656L14.6755 10.8824L14.6889 10.8931L21.7306 2.73438H19.3774L13.6411 9.375L9.08569 2.73438H2.91423L10.2054 13.3621L10.2046 13.3612L2.51465 22.2656H4.8678L11.2453 14.8775L16.3139 22.2656H22.4854ZM8.15332 4.50994L19.111 20.4901H17.2463L6.27971 4.50994H8.15332Z"
          ></path>
        </svg>
      </a>
      <a href="/linkdin" aria-label="linkdin-link" class="self-start">
        <svg
          class="socials"
          viewBox="0 0 25 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M21.4844 2.73438H3.51562C3.0835 2.73438 2.73438 3.0835 2.73438 3.51562V21.4844C2.73438 21.9165 3.0835 22.2656 3.51562 22.2656H21.4844C21.9165 22.2656 22.2656 21.9165 22.2656 21.4844V3.51562C22.2656 3.0835 21.9165 2.73438 21.4844 2.73438ZM8.52783 19.3774H5.62988V10.0562H8.52783V19.3774ZM7.08008 8.78174C6.74787 8.78174 6.42312 8.68323 6.14689 8.49866C5.87067 8.31409 5.65538 8.05176 5.52825 7.74484C5.40112 7.43792 5.36785 7.10019 5.43267 6.77436C5.49748 6.44853 5.65745 6.14924 5.89236 5.91433C6.12727 5.67942 6.42656 5.51945 6.75239 5.45464C7.07822 5.38983 7.41594 5.42309 7.72287 5.55022C8.02979 5.67735 8.29212 5.89264 8.47669 6.16887C8.66125 6.44509 8.75977 6.76984 8.75977 7.10205C8.75732 8.02979 8.00537 8.78174 7.08008 8.78174ZM19.3774 19.3774H16.4819V14.8438C16.4819 13.7622 16.4624 12.373 14.9756 12.373C13.4692 12.373 13.2373 13.5498 13.2373 14.7656V19.3774H10.3442V10.0562H13.1226V11.3306H13.1616C13.5474 10.5981 14.4922 9.82422 15.9033 9.82422C18.8379 9.82422 19.3774 11.7554 19.3774 14.2651V19.3774Z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</div>
