---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import app from "../../../images/Group 14.png";
---

<Layout title="التسجيل | المناديب" lang="ar">
  <section class="relative bg-darkGray">
    <div class="container section-container">
      <div class="py-14 flex items-center justify-center">
        <h2 class="text-white text-center text-3xl lg:text-5xl">كن مندوبًا.</h2>
      </div>
    </div>
    <div class="custom-shape-divider-bottom-1720992718">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"
        ></path>
      </svg>
    </div>
  </section>
  <section id="register">
    <div
      class="container section-container flex flex-col items-center justify-center gap-28">
      <h3 class="text-center text-3xl">كيفية التسجيل</h3>
      <div class="flex flex-col lg:flex-row gap-y-10 gap-x-4">
        <div
          class="lg:w-1/4 h-full relative flex flex-col sm:flex-row lg:flex-col items-center justify-between gap-10">
          <div class="w-full">
            <h4 class="text-2xl">الخطوة 1</h4>
            <hr
              class="border-black after:absolute after:w-3 after:h-3 after:rounded-full after:bg-black after:-right-[15px] after:top-[26px] after:hidden after:lg:block"
            />
            <p>
              <span class="text-black font-medium">قم بتحميل</span> التطبيق من متجر
              جوجل بلاي أو آب ستور
            </p>
          </div>
          <img src="/src/images/icons/1.png" alt="تحميل" />
        </div>
        <div
          class="lg:w-1/4 h-full relative flex flex-col sm:flex-row lg:flex-col items-center justify-between gap-10">
          <div class="w-full">
            <h4 class="text-2xl">الخطوة 2</h4>
            <hr
              class="border-black after:absolute after:w-3 after:h-3 after:rounded-full after:bg-black after:-right-[15px] after:top-[26px] after:hidden after:lg:block"
            />
            <p>قم بملء التفاصيل اللازمة وتقديم أي مستندات مطلوبة.</p>
          </div>
          <img src="/src/images/icons/2.png" alt="تسجيل" />
        </div>
        <div
          class="lg:w-1/4 h-full relative flex flex-col sm:flex-row lg:flex-col items-center justify-between gap-10">
          <div class="w-full">
            <h4 class="text-2xl">الخطوة 3</h4>
            <hr
              class="border-black after:absolute after:w-3 after:h-3 after:rounded-full after:bg-black after:-right-[15px] after:top-[26px] after:hidden after:lg:block"
            />
            <p>تعرف على عملياتنا وابدأ العمل في أسرع وقت ممكن.</p>
          </div>
          <img src="/src/images/icons/3.png" alt="تعلم" />
        </div>
        <div
          class="lg:w-1/4 h-full relative flex flex-col sm:flex-row lg:flex-col items-center justify-between gap-10">
          <div class="w-full">
            <h4 class="text-2xl">الخطوة 4</h4>
            <hr
              class="border-black after:absolute after:w-3 after:h-3 after:rounded-full after:bg-black after:-right-[15px] after:top-[26px] after:hidden after:lg:block"
            />
            <p>ابدأ في قبول مهام التوصيل وابدأ في جني دخل إضافي.</p>
          </div>
          <img src="/src/images/icons/4.png" alt="بدء العمل" />
        </div>
      </div>
      <div class="flex items-center gap-3">
        <a href="#"
          ><img
            src="/src/images/icons/google play.png"
            alt="جوجل بلاي"
            class="w-36 md:w-60"
          /></a
        >
        <a href="#"
          ><img
            src="/src/images/icons/apple store.png"
            alt="آب ستور"
            class="w-36 md:w-60"
          /></a
        >
      </div>
    </div>
  </section>
</Layout>
